html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#controlPanel {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

#statusPanel {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

#map {
  width: 100%;
  height: 100%;
}

.token-label {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-shadow: 0 0 4px white;
  text-align: center;
  line-height: 1;
}
